control/__pycache__/*
control/flashuid
control/quabo_uids.json
control/obs_config.json
control/daq_config.json
control/data_config.json
control/sw_info.json
control/quabo_ph_baseline.json
control/quabo_config*.json
control/skymap_info_dir
util/__pycache__/*
sw_info.json

# Ignore Python bytecode cache directories
__pycache__/
**/__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Ignore macOS .DS_Store files
.DS_Store
**/.DS_Store

# Ignore redis dumps 
.rdb
**/.rdb

# Ignore the config files in configs
control/configs/*
!control/configs/lick
!control/configs/lick/**
!control/configs/palomar
!control/configs/palomar/**
!control/configs/ucb
!control/configs/ucb/**

# Ignore log files under control/driver/logs
control/driver/logs/**

# ignore test files
*.jpg
*.py~
*.tmp
observing_logs.db
palomar_weather_tmp/
control/Gattini-webcam-current.jpg
control/daemons/.#capture_guider2.py
control/daemons/attic/
control/palomar_weather_tmp/
control/quabos/detovervol_2v/img/attic/
control/quabos/detovervol_2v/ph/attic/
test/


# IDE settings
.vscode
.idea
.worktrees/

# ignore javascript and css library
lib/

# ignore egg builds
**.egg**
