control/__pycache__/*
control/flashuid
control/quabo_uids.json
control/obs_config.json
control/daq_config.json
control/data_config.json
control/sw_info.json
control/quabo_ph_baseline.json
control/quabo_config*.json
control/skymap_info_dir
util/__pycache__/*


