astropy==5.2.2
asttokens==2.2.1
async-timeout==4.0.2
backcall==0.2.0
certifi==2023.5.7
charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
DateTime==5.1
decorator==5.1.1
executing==1.2.0
fonttools==4.39.4
gitdb==4.0.10
GitPython==3.1.31
idna==3.4
importlib-resources==5.12.0
influxdb==5.3.1
ipython==8.13.2
jedi==0.18.2
kiwisolver==1.4.4
matplotlib==3.7.1
matplotlib-inline==0.1.6
msgpack==1.0.5
netifaces==0.11.0
numpy==1.24.3
packaging==23.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
prompt-toolkit==3.0.38
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyerfa==2.0.0.3
Pygments==2.15.1
pyparsing==3.0.9
pyserial==3.5
python-dateutil==2.8.2
python3-netsnmp==1.1a1
pytz==2023.3
PyYAML==6.0
redis==4.5.5
requests==2.31.0
six==1.16.0
smmap==5.0.0
stack-data==0.6.2
tftpy==0.8.2
traitlets==5.9.0
typing_extensions==4.5.0
urllib3==2.0.2
wcwidth==0.2.6
zipp==3.15.0
zope.interface==6.0
