# GRPC Python setup requirements
coverage>=4.0
cython==3.1.1
protobuf>=6.30.0,<7.0.0
wheel>=0.29

grpcio>=1.73.0
grpcio_reflection>=1.73.0
grpcio_tools>=1.73.0
rich>=14.0.0

# ublox control requirements
pyserial>=3.5
pyubx2>=1.2.43
redis>=3.5.3

# data analysis requirements
seaborn>=0.13.2
matplotlib>=3.8.4
pandas>=2.3.0
